<nav class="navbar">

  <div class="logo" routerLink="/events">
    🎟 Event Booking
  </div>

  <div class="nav-links">

    <!-- EVENTS (All logged in users) -->
    <span
      class="link"
      *ngIf="isLoggedIn && !isLoginPage && !isRegisterPage"
      routerLink="/events"
      routerLinkActive="active">
      Events
    </span>

    <!-- CREATE EVENT (Creator + Superadmin) -->
    <span
      class="link"
      *ngIf="(isCreator || isSuperAdmin) && !isLoginPage && !isRegisterPage"
      routerLink="/create-event"
      routerLinkActive="active">
      Create Event
    </span>

   <!-- Creator Dashboard -->
<span
  *ngIf="isCreator"
  routerLink="/creator-dashboard">
  <!--routerLinkActive="active">-->
  Dashboard
</span>

<!-- Superadmin Dashboard -->
<span
  *ngIf="isSuperAdmin"
  routerLink="/superadmin-dashboard">
   <!--routerLinkActive="active">-->
  Dashboard
</span>

     MEMBERS (Superadmin only) 
    <span
      class="link"
      *ngIf="isSuperAdmin && !isLoginPage && !isRegisterPage"
      routerLink="/members"
      routerLinkActive="active">
      Members
    </span>

    <!-- SUPER ADMIN PANEL -->
    <span
      class="link"
      *ngIf="isSuperAdmin && !isLoginPage && !isRegisterPage"
      routerLink="/super-admin"
      routerLinkActive="active">
      Super Admin
    </span>

    <!-- RIGHT SIDE -->
    <div class="right">

      <button
        *ngIf="!isLoggedIn"
        routerLink="/login">
        Login
      </button>z

      <button
        *ngIf="!isLoggedIn"
        routerLink="/register">
        Register
      </button>

      <button
        *ngIf="isLoggedIn"
        (click)="logout()">
        Logout
      </button>

    </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
