<nav class="navbar">
  <div class="logo" (click)="go('/events')">
    🎟 Event Booking
  </div>

  <div class="nav-links">

    <!-- Events -->
    <span
      class="link"
      *ngIf="!isLoginPage"
      routerLink="/events"
      routerLinkActive="active"
      (click)="go('/events')">
      Events
    </span>

    <!-- Admin Links -->
    <span
      *ngIf="auth.isAdmin() && !isLoginPage"
      class="link"
      routerLink="/create-event"
      routerLinkActive="active"
      (click)="go('/create-event')">
      Create
    </span>

    <span
      *ngIf="auth.isAdmin() && !isLoginPage"
      class="link"
      routerLink="/dashboard"
      routerLinkActive="active"
      (click)="go('/dashboard')">
      Dashboard
    </span>

    <!-- Right Side Buttons -->
    <div class="right">

      <!-- Login -->
      <button
        class="login-btn"
        *ngIf="isLoginPage"
        (click)="go('/login')">
        Login
      </button>

      <!-- Logout -->
      <button
        class="logout-btn"
        *ngIf="!isLoginPage"
        (click)="logout()">
        Logout
      </button>

    </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
